@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.w-full.h-full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bg-gray-900.text-white.py-4.px-6.rounded-t-lg {
    background-color: #1E2736;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

.text-3xl.font-bold {
    font-size: 1.875rem;
    font-weight: bold;
}

.grid.grid-cols-1.gap-8.p-6 {
    background-color: #fff;  
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    color: #1E2736;
}

.text-2xl.font-bold.mb-4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.space-y-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text-sm.font-medium.leading-none.peer-disabled:cursor-not-allowed.peer-disabled:opacity-70 {
    font-size: 0.875rem;
    font-weight: medium;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    margin-bottom: 0.5rem;
}

.employee-card {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-top: 1rem;
}

.table-card table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 1rem;
    overflow: hidden;
}

.table-card table th,
.table-card table td {
    padding: 0.75rem;
    border: 1px solid #e2e8f0;
    background-color: #fff;
}

.employee-card input[type="text"],
.employee-card input[type="email"],
.employee-card input[type="number"],
.employee-card input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: normal;
    font-family: 'Poppins',sans-serif;
    color: #1E2736;
}

.employee-card button[type="submit"] {
    width: 40%;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #1E2736;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    left: 30%;
    margin-top: 20px;
}

.employee-card button[type="submit_2"] {
    width: 20%;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #1E2736;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    left: 30%;
    margin-right: 10px;
    margin-top: 20px;
}

.employee-card button[type="button"] {
    width: 20%;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #1E2736;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    left: 30%;
    margin-top: 20px;
}

.employee-card button[type="submit"]:hover {
    background-color: #3c4350;
}

.edit-button {
    background-color: #2196F3;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 0.5rem;
    margin-left: 1rem;
    text-decoration: none;
    font-size: 0.85rem;
}

.delete-button {
    background-color: #f44336;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 0.5rem;
}

.edit-button:hover {
    background-color: #0b7dda;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.table-card table td {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.table-card table th {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.table-card table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid#e5e7eb;
}

.table-card table tbody td {
    text-align: center;
}
