
:root[data-theme="light"] {
  --color1: #ffffff;
  --color2: #ebeef1;
  --color3: #f7f7f8;
  --text-color: #1c1c1f;
  --button-text: #1c1c1f;
}

:root[data-theme="dark"] {
  --color1: #1c1c1f;
  --color2: #31313c;
  --color3: #24242a;
  --text-color: #ebeef1;
  --button-text: white;
}


.dashboard-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
  }
  
  .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  .card-detalle {
    font-weight: bold;
    color: var(--text-color);
  }
  
  .card-dashboard-1 {
    background: linear-gradient(to bottom right, #1E2736, #1D4E89);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    margin: 5px;
    padding: 20px;
    text-align: center;
  }

  .card-dashboard-2 {
    background: linear-gradient(to bottom right, #2C2A4A, #4F518C);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    margin: 5px;
    padding: 20px;
    text-align: center;
  }

  .card-dashboard-3 {
    background: linear-gradient(to bottom right, #0471A6, #061826);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    margin: 5px;
    padding: 20px;
    text-align: center;
  }
  
  .card-dashboard-detalle {
    background: linear-gradient(to bottom right, #1E2736, #2D3142);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 250px;
    height: 150px;
    margin: 5px;
    padding: 20px;
    text-align: center;
  }

  .card-dashboard-detalle-1 {
    background: linear-gradient(to bottom right, #1E2736, #2E294E);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 250px;
    height: 150px;
    margin: 5px;
    margin: 10px;

    padding: 20px;
    text-align: center;
  }


  .card-dashboard-detalle-2 {
    background: linear-gradient(to bottom right, #1E2736, #2A2E45);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    margin: 5px;
    padding: 20px;
    text-align: center;
  }


  .card-icon {
    font-size: 60px;
    margin-bottom: 10px;
    margin-left: -150px;
    color: whitesmoke;

  }

  .card-info h3 {
    margin-left: 30px;
    font-size: 18px;
  }
  
  .card-info p {
    margin-top: -70px;
    margin-left: 40px;
    font-size: 17px;
    font-weight: bold;
    color: var(--text-color);
  }

  .charts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .card-dashboard-chart-1 {
    border: 1px solid var(--color2);
    background-color: var(--color1);
    border-radius: 70px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 49%;
    height: 41rem;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
  }
    
  .card-dashboard-chart-2 {
    border: 1px solid var(--color2);
    background-color: var(--color1);
    border-radius: 70px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 49%;
    height: 41rem;
    margin: 10px;
    padding: 20px;
    text-align: center;
  }