@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
}

.Bg-Img{
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),url("../../public/fondo.jpg");
    background-size: cover; /* Ajusta la imagen para que cubra todo el área del elemento */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.info{
    width: 60%;
    height: auto;
    padding: 60px;
    padding-left: 0px;
    color: white;
    text-shadow: 0px 0px 40px black;
}

.info img{
    width: 250px;
    height: 250px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4)); /* Sombra del contorno */
    animation: animacion 1s ease-out forwards;
}

.info h1{
    padding-top: 10px;
    padding-bottom: 10px;
    animation: animacion 1s ease-out forwards;
    font-size: 40px;
}

.info p{
    animation: animacion 1s ease-out forwards;
    font-size: 20px;
}

.login-form {
    width: 500px;
    height: 600px;
    background-color: #EBEEF1;
    padding: 30px;
    box-shadow: 0 0 50px;
    border-radius: 25px;
    border: 1px solid white;
    animation: animacion 1s ease-out forwards;
}

@keyframes animacion {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.login-form h2{
    text-align: left;
    margin-bottom: 30px;
    font-size: 40px;
    color: #5383E8;
    font-weight: bold;
}

.login-form select, label{
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    color: #1C1C1F;
}


.login-form input,select{
    width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 15px;
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: fff;
    color: #1C1C1F;
}


.login-form button {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #5383E8;
    color: white;
    font-weight: bold;
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #3a70e4;
}



.flooter{
    background-color: #000C21;
    width: 100%;
    height: 100px;
}

.links {
    display: flex;
    margin-bottom: 20px;
    color: #1C1C1F;
}
.nav-links2 {
    color: #5383E8;
    padding-left: 4px;
    font-weight: bold;
    text-decoration: none;
  }

.toggle-password {
    position: relative;
}

.toggle-password i {
    position: absolute;
    right: 20px;
    top:25px;
    transform: translateY(-50%);
    cursor: pointer;
}

.hero-titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}
