@import url('https://fonts.googleapis.com/css2?family=Mont:wght@700&display=swap');

.dashboard {
  display: flex;
  min-height: 100vh;
  color: #fff;
}

.header {
  background-color: #1E2736;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  padding: 0rem 1.4rem;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 10;
  text-decoration: none;
}

.logo {
  color: #55DAD5;
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 3px;
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 10px;
}

.nombrelogo {
  margin-left: -40px;
  margin-top: 12px;
}

.sidebar {
  background-color: #1E2736;
  width: 240px;
  transition: width 0.3s ease-in-out;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  font-family: Open Sans, sans-serif;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.sidebar.open {
  width: 0px;
}

.sidebar.open:hover {
  width: 240px;
}

.sidebar-nav {
  margin-top: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-titulo {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-size: 1rem;
}

aside {
  padding-top: 70px;
}

.nav-item:hover {
  background-color: #2e3644;
}

.nav-link {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-link.collapsed {
  font-weight: bold;
}

.bi {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.main {
  flex: 1;
  padding: 1.5rem;
  margin-top: 40px;
  font-size: 0.75rem;
  color: #55DAD5;
}

.pagetitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 0.9rem;
  margin-bottom: 10px;
}

.breadcrumb {
  margin: 0px;
  padding: 0px;
  font-size: 0.9rem;
  list-style: none;
  color: #313f3f;
}

.breadcrumb-item a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #55DAD5;
}

.breadcrumb-item a:hover {
  color: #55DAD5;
}

.back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem;
  background-color: #29374A;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.back-to-top:hover {
  background-color: #55DAD5;
}

.logo {
  width: 35px;
  height: auto;
}

.toggle-sidebar-btn {
  background-color: transparent;
  color: white;
  width: 40px;
  height: 40px;
  border: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  margin-top: 7px;
  display: flex;
  margin-left: -10px;
  margin-top: -35px;
}

.toggle-sidebar-btn:hover {
  background-color: transparent;
}
