.dashboard {
  display: flex;
  min-height: 100vh;
  color: whitesmoke;
  background-color: #31313C;
}

.header {
  background-color: #1C1C1F;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  padding: 0rem 1.4rem;
  position: fixed;
  width: 100%;
  height: 60px;
  white-space: nowrap;
  z-index: 10;
  text-decoration: none;
}

.logo {
  width: 45px;
  height: auto;
}

.usuario {
  width: 45px;
  height: auto;
}

.logo {
  color: #5383E8;
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 3px;
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 10px;
}

.usuario {
  color: #5383E8;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 3px;
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 10px;
}

.nombrelogo {
  margin-left: -40px;
  margin-top: 12px;
}

.nombreUsuario {
  margin-left: 1410px;
  margin-top: -41px;
}

.sidebar {
  background-color: #1C1C1F;  
  width: 240px;
  transition: width 0.3s ease-in-out;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
  overflow-y: auto;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
}

.sidebar.open {
  width: 240px;
}

.sidebar:not(.open) {
  width: 0;
}

.sidebar-nav {
  margin-top: 0;
  list-style: none;
  padding: 0;
}

.nav-titulo {
  color: whitesmoke;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-size: 1rem;
}

aside {
  padding-top: 10px;
}

.nav-item:hover {
  background-color: #2e3644;
}

.nav-link {
  color: whitesmoke;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-link.collapsed {
  font-weight: bold;
}

.bi {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.main {
  flex: 1;
  padding: 1.5rem;
  margin-top: 45px;
  font-size: 0.75rem;
  color: #55DAD5;
  overflow-y: auto;
  height: calc(100vh - 60px);
  margin-left: 240px;
  transition: margin-left 0.3s ease-in-out;
}

.main.full {
  margin-left: 0;
}

.pagetitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 0.9rem;
  margin-bottom: 10px;
}

.breadcrumb {
  margin: 0px;
  padding: 0px;
  font-size: 0.9rem;
  list-style: none;
  color: #31313C;
}

.breadcrumb-item a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #55DAD5;
}

.breadcrumb-item a:hover {
  color: #55DAD5;
}

.back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem;
  background-color: #31313C;
  color: whitesmoke;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.back-to-top:hover {
  background-color: #55DAD5;
}


.toggle-sidebar-btn {
  background-color: transparent;
  color: white;
  width: 40px;
  height: 40px;
  border: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  margin-top: 7px;
  margin-left: -10px;
  margin-top: -35px;
}

.toggle-sidebar-btn:hover {
  background-color: transparent;
}

.theme button {
  margin-left: 20px;
  margin-top: 0.6%;
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 10px;
}

.toggleButton {
  background-color: transparent;
  color: whitesmoke;
  border: none;
  transition: all 0.5s ease-in-out;
  margin-left: 15px;
  cursor: pointer;
}

.toggleButton:hover {
  background-color: transparent;
}
